<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<select id="check" parameterType="memberDTO" resultType="memberDTO">
	 SELECT * FROM "member"  WHERE id = #{id} and PW = #{pw}
	</select>
	
	<select id="checkId" parameterType="memberDTO" resultType="int">
		SELECT count(*) FROM "member"  WHERE ID = #{id}
	</select>
	
	<select id="Join" parameterType="memberDTO" resultType="memberDTO">
	insert into "member" values ( #{id}, #{pw}, #{name} , #{email}, #{adress} )
	</select>



</mapper>
